.navbar {
  padding: 10px 20px;
}

.logo img {
  height: 50px;
}

.logo-image {
  width: 120%; /* 1.5x original width */
  height: 400%; /* Maintain aspect ratio */
  /* Optional adjustments */
  margin-top: -5px;
  margin-bottom: -5px;
}

.navbar-nav .nav-item .icon {
  font-size: 20px;
  display: none;
}

.navbar-nav .nav-item .nav-text {
  display: inline-block;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .nav-text {
    display: none;
  }

  .navbar-nav .nav-item .icon {
    display: inline-block;
  }
}
