  <mat-toolbar color="primary">
    <div class="logo" routerLink='/app-home'>
      <img src="assets/temp.webp" alt="Zillow Logo" />
    </div>
    <span class="spacer"></span>
    <a mat-button routerLink="/app-maker">__</a>
    <a mat-button routerLink="/help">Help</a>
    <a mat-button routerLink='/app-checkout' routerLinkActive="activebutton" >
      <mat-icon>shopping_cart</mat-icon>
      <span class="nav-text">Cart</span>
    </a>
    <a mat-button routerLink='/app-assistance' routerLinkActive="activebutton">
      <mat-icon>assistant_photo</mat-icon>
      <span class="nav-text">Assistance</span>
    </a>
    <a mat-button routerLink='/orders-page' routerLinkActive="activebutton">
      <mat-icon>assistant</mat-icon>
      <span class="nav-text">Orders</span>
    </a>
    <a mat-button routerLink='/app-login' routerLinkActive="activebutton">Sign In</a>
  </mat-toolbar>
  
  