<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand logo" routerLink="/app-home">
      <img src="assets/temp.webp" alt="Zillow Logo" class="d-inline-block align-text-top">
    </a>

    <!-- Toggler for Mobile View -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-maker">
            <i class="fa fa-wrench icon"></i>
            <span class="nav-text">App Maker</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/help">
            <i class="fa fa-question-circle icon"></i>
            <span class="nav-text">Help</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-checkout" routerLinkActive="activebutton">
            <i class="fa fa-shopping-cart icon"></i>
            <span class="nav-text">Cart</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-assistance" routerLinkActive="activebutton">
            <i class="fa fa-assistive-listening-systems icon"></i>
            <span class="nav-text">Assistance</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders-page" routerLinkActive="activebutton">
            <i class="fa fa-box icon"></i>
            <span class="nav-text">Orders</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-login" routerLinkActive="activebutton">
            <i class="fa fa-sign-in icon"></i>
              <span *ngIf="isSignedIn; else other" class="nav-text">Hi</span>
            <ng-template #other> <span class="nav-text">Sign In</span> </ng-template>
          </a>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="onTestClick($event)">
            <i class="fa fa-box icon"></i>
            <span class="nav-text" >Tbtn</span>
          </button>
        </li> 
      </ul>
    </div>
  </div>
</nav>
