.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .right-side {
    flex: 1 1 60%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-end;
    float: right;
  }
  
  .container {
    display: flex;
  }
  