<div class="container min-vh-100">
  <!-- Progress Tracker -->


  <!-- Switch Case Content -->
  <div [ngSwitch]="currentStep" class="row">
    <app-progresstracker [currentStep]="currentStep"></app-progresstracker>

    <stage-viewer></stage-viewer>

    <!-- Left Side with Image -->
    <div class="col-md-6 text-center my-4">
      <img src="assets/phone.webp" alt="Left Side Image" class="img-fluid" />
    </div>

    <!-- Right Side with Dynamic Content -->
    <div class="col-md-6 my-4">
      <app-maker-unit *ngSwitchCase="1" [submitCallback]="submitCallback" [assemblerStep]="currentStep"
        (data)="receiveData($event)"></app-maker-unit>
      <app-maker-unit *ngSwitchCase="2" [submitCallback]="submitCallback" [assemblerStep]="currentStep"
        (data)="receiveData($event)"></app-maker-unit>
      <app-maker-unit *ngSwitchCase="3" [submitCallback]="submitCallback" [assemblerStep]="currentStep"
        (data)="receiveData($event)"></app-maker-unit>
    </div>
    <!-- Navigation Buttons -->

    <div class="col-12 text-center my-4">
      <button (click)="prevStep()" class="btn btn-secondary" [disabled]="currentStep === 1">Back</button>
      <button (click)="nextStep()" class="btn btn-primary" [disabled]="currentStep === 7">Next</button>
    </div>

  </div>
</div>