<div class="container">
  <div class="row">
    <!-- Left Section -->
    <div class="col-md-6 text-center">
      <h1 class="display-3">Insta App</h1>
      <!-- Image section -->
      <!-- <div class="image-container">
        <img src="/assets/prom1.gif" class="img-fluid" alt="Promo Image" />
      </div> -->
    </div>

    <!-- Right Section -->
    <div class="col-md-6">
      <!-- First Card -->
      <div class="card mb-4" style="cursor: pointer;" (click)="onCardClick()">
        <div class="card-header">
          <h5 class="card-title">Make an E-com App</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Click to start building the app</p>
        </div>
      </div>

      <!-- Second Card -->
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">Make a Teaching App</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Click to start building the app</p>
        </div>
      </div>
    </div>
  </div>
</div>
