<div class="container">
    <div class="left-section">
      <h1 class="big-text">Insta App</h1>
    </div>

    <div class="right-section">

      <mat-card class="card" (click)="onCardClick()">
        <mat-card-header>
          <mat-card-title>Make an E-com App</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Click to start building the app</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Make a teaching app</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Click to start building the app</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
