.step-content {
  display: flex;
  align-items: center;
}

.step-content mat-icon {
  margin-right: 8px;
}

.step-number {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background-color: #e0e0e0;
  text-align: center;
  margin-right: 8px;
}
