<div class="container">
  <div *ngIf="isLogin; else notLoggedIn">
    <tabset>
      <tab heading="Upcoming">
        <div *ngFor="let order of upcomingOrders">
          <div class="order-tile">
            <h4>{{ order.title }}</h4>
            <p>Requested Time: {{ order.requestedTime }}</p>
            <p>Created Time: {{ order.createdTime }}</p>
          </div>
        </div>
      </tab>
      <tab heading="Delivered">
        <div *ngFor="let order of deliveredOrders">
          <div class="order-tile">
            <h4>{{ order.title }}</h4>
            <p>Requested Time: {{ order.requestedTime }}</p>
            <p>Created Time: {{ order.createdTime }}</p>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  
  <ng-template #notLoggedIn>
    <div class="not-logged-in">
      <p>Nothing in cart? Login</p>
      <button class="btn btn-primary" (click)="login()">Login</button>
    </div>
  </ng-template>
  
</div>