<div class="login-container">
    <div class="login-left">
      <img src="assets/temp.webp" alt="Diprella Logo">
      <h1>Login to Your Account</h1>
      <p>Login using social networks</p>
      <div class="social-buttons">
        <button mat-button class="social-button fb"><i class="fa fa-facebook"></i></button>
        <button mat-button class="social-button google"><i class="fa fa-google"></i></button>
        <button mat-button class="social-button linkedin"><i class="fa fa-linkedin"></i></button>
      </div>
      <p>OR</p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" type="password">
        <button mat-icon-button matSuffix>
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" class="full-width">Sign In</button>
    </div>
    <div class="login-right">
      <h2>New Here?</h2>
      <p>Sign up and discover a great amount of new opportunities!</p>
      <button mat-raised-button color="accent">Sign Up</button>
    </div>
  </div>
  