<div class="container-fluid gradient-container">
  <div class="row min-vh-100">

    <!-- Column 1: Stage List -->
    <div class="col-md-3 p-4 column-left">
      <h2>Project Stages</h2>
      <ul class="stage-list">
        @for (stage of data.steps; track stage.id) {
        <li [class.selected]="isSelected(stage.id)" (click)="selectStage(stage.id)">
          <span class="stage-number">{{ stage.id }}</span>
          <span class="stage-title">{{ stage.label }}</span>
        </li>
        }
      </ul>
    </div>

<div class="col-md-6 p-4 column-right" *ngIf="data?.steps?.length">
  <div class="stage-content" [@stageTransition]>
    <h3>{{ data.steps[currentStageIndex]?.label }}</h3>
    <p>{{ data.steps[currentStageIndex]?.content[0] }}</p>

    <div class="navigation-buttons">
      <button (click)="prevStage()" [disabled]="currentStageIndex === 0">Back</button>
      <button (click)="nextStage()" [disabled]="currentStageIndex === data.steps.length - 1">Next</button>
    </div>
  </div>
</div>


    <!-- Left Side with Image -->
    <div class="col-md-3 p-4 column-extra">
      <img src="assets/phone.webp" alt="Left Side Image" class="img-fluid" />
    </div>

  </div>
</div>